@media screen and (max-width:425px) {
  .form{
    padding-left: 36px;
    padding-right: 36px;
  }

  .form .form-input input{
    min-width: 300px;
  }
}

@media screen and (max-width:320px){

    .form{
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }


  .form-form-input_form-title{
    font-size: 8px;
  }

    .form-title{
        font-size: 12px;
    }


    .form-form-input_form-title{
        font-size: 8px;
        padding-left: 5px;
    }
}
